/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
}

	

header a img{
	height: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main section a img {
	max-width: 375px;
}



